/******* RESPONSIVE *******/

@media (max-width: 1150px){
}

@media (max-width: 979px){
}

@media (max-width: 767px){
}

@media (max-width: 450px){
}


/******* RETINA *******/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    
}


/******* PRINT *******/
 
@media print {
    *{

    } 
    a{
        text-decoration: underline;
        &[href]:after{
            content: ' (' attr(href) ')';
        }
        &[href^="#"]:after{
            content: '';
        }
    }
    pre, blockquote{
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead{
        display: table-header-group;
    }
    tr, img{
        page-break-inside: avoid;
    }
    img{
        max-width: 100% !important;
    }
    @page{
        margin: .5cm;
    }
    p, h2, h3{
        orphans: 3;
        widows: 3;
    }
    h2, h3{
        page-break-after: avoid;
    }
}