@import "norm.less";
@import "lesshat.less";
@import "fonts.less";

@blanc: #fff;
@noir: #000;

html,
button,
input,
select,
textarea{
    color: #000;
}

/* @group Mes styles */

/* @group General */

/* selection */
::-moz-selection{ 
	background: #000;  
	color: #fff;
	text-shadow: none; 
}
::selection{ 
	background: #000;  
	color: #fff; 
	text-shadow: none; 
}

html{
  font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body{
  font-size: 16px;
  font-size: 1.6rem;  
  /* sets the default sizing to make sure nothing is actually 10px */
}

/* @end */

/* @group Non semantic Boilerplate */

/* remplacement image */
.ir{
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* masquage de texte, alternative (buggé?) */
.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* masqué */
.none{
    display: none;
}

/* clearfix */

.clearfix:before,
.clearfix:after{
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after{
    clear: both;
}

/* @end */


@import "mediaqueries.less";